@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @*Easyui*@
    <script type="text/javascript" src="~/Content/jquery-easyui-1.4.5/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/jquery-easyui-1.4.5/jquery.easyui.min.js"></script>
    <link href="~/Content/jquery-easyui-1.4.5/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/jquery-easyui-1.4.5/themes/icon.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/messages_zh.js"></script>
    <script type="text/javascript" src="~/Content/Site.js"></script>

    <script type="text/javascript">
        $(function () {
            //datagrid
            InitGrid();
            InitDialog();
            $('#btnReload').click(function () {
                $("#grid").datagrid("reload");
            });
            //ajax
            $('#ok').click(function () {
                $('#form').submit();
            });
            $('#cancel').click(function () {
                $('#dd').dialog('close');
            });
            $('#add').click(function () {
                $('#form')[0].reset();
                $('#ID').val("");
                $('#dd').dialog('open');
            });
            $('#del').click(function () {
                getAjax("../PSS_ExWarehouseMode/Del", { id: $('#del_id').val() }, function (data) {
                    if ($('#del_id').val() == null || $('#del_id').val() == "")
                        return false;
                    if (data) {
                        $.messager.alert('', '!');
                        $('#dd').dialog('close');
                        $("#grid").datagrid("reload");
                        return true;
                    }
                    else {
                        $.messager.alert('', '!');
                        return false;
                    }
                });
            });
        });

        //DataGird
        function InitGrid() {
            $('#grid').datagrid({
                url: '../PSS_ExWarehouseMode/LoadList',
                fit:true,
                nowrap: true,//
                autoRowHeight: false,
                striped: false,     //
                singleSelect: true,
                collapsible: true,      //
                pagination: true,
                pageSize: 20,
                fitColumns: true,       //
                rownumbers: true,
                columns: [[
                     { title: '', field: 'ID', hidden: true },
                     { title: '', field: 'Name', width: 10 },
                     { title: '', field: 'Way', width: 10 },
                ]],
                toolbar: '#tb',
                onDblClickRow: function (rowIndex, rowData) {
                    getAjax("../PSS_ExWarehouseMode/LoadForm",
                        { id: rowData['ID'] }, function (data) {
                            var data = eval("(" + data + ")");
                            SetWebControls(data);
                        });
                    $('#dd').dialog('open');
                },
                onClickRow: function (index, row) {
                    $('#del_id').val(row['ID']);
                }
            })
            var p = $('#grid').datagrid('getPager');
            $(p).pagination({
                beforePageText: '',
                afterPageText: '    {pages} ',
                displayMsg: ' {from} - {to}     {total} ',
            });
        };

        function InitDialog() {
            $('#dd').dialog({
                title: '',
                width: 400,
                height: 180,
                top: ($(window).height() - 200) * 0.5,      //
                left: ($(window).width() - 400) * 0.5,
                closed: true,
                cache: false,
                modal: true,
                buttons: '#dlg-buttons'
            });
        }


    </script>
    <script>
        //
        $(function () {
            $('#form').validate({
                rules: {
                    Name: {
                        required: true
                    }
                },
                submitHandler: function (form) {
                    var postData = GetWebControls("#form");
                    getAjax("/PSS_ExWarehouseMode/AcceptClick",
                        postData, function (data) {
                            if (data) {
                                $.messager.alert('', '!');
                                $('#dd').dialog('close');
                                $("#grid").datagrid("reload");
                                return true;
                            }
                            else {
                                $.messager.alert('', '!');
                                return false;
                            }
                        });
                },
                invalidHandler: function (form, validator) {  //
                    return false;
                },
                showErrors: function (errorMap, errorList) {
                    this.defaultShowErrors();
                    for (var i = 0; i < errorList.length; i++) {
                        $(errorList[i].element).one("blur", function () {
                            $("label.error[for='" + (this.id ? this.id : this.name) + "']").remove();
                        });
                    }
                }
            });
        });
    </script>
</head>
<body style="margin:2px;padding:0">
    <div>
        <input id="del_id" type="hidden" name="del_id" value=" " />
        <div style="position:fixed;width:100%;height:100%">
            <table id="grid"></table>
        </div>
        <div id="tb" style="padding:3px">
            <a id="add" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'"></a>
            <a id="del" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'"></a>
            <a id="btnReload" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-reload'"></a>
        </div>
    </div>
    <div id="dd" class="easyui-dialog">
        <form id="form" name="form" method="post">
            <table style="margin:8px">
                <tr>
                    <td>:</td>
                    <td><input type="text" id="ID" name="ID" value=" " disabled="disabled" /></td>
                </tr>
                <tr>
                    <td>:</td>
                    <td><input type="text" id="Name" name="Name" value="" class="required" /></td>
                </tr>
                <tr>
                    <td>:</td>
                    <td><input type="text" id="Way" name="Way" value=" " /></td>
                </tr>
            </table>
            <div id="dlg-buttons">
                <a id="ok" href="#" class="easyui-linkbutton" iconcls="icon-ok"></a>
                <a id="cancel" href="#" class="easyui-linkbutton" iconcls="icon-cancel"></a>
            </div>

        </form>
    </div>
</body>
</html>
