@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @*Easyui*@
    <script type="text/javascript" src="~/Content/jquery-easyui-1.4.5/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/jquery-easyui-1.4.5/jquery.easyui.min.js"></script>
    <link href="~/Content/jquery-easyui-1.4.5/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/jquery-easyui-1.4.5/themes/icon.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/messages_zh.js"></script>
    <script type="text/javascript" src="~/Content/Site.js"></script>

    <script type="text/javascript">
        $(function () {
            //datagrid
            InitGrid();
            InitDialog();
            $('#btnReload').click(function () {
                $("#grid").datagrid("reload");
            });
            //ajax
            $('#ok').click(function () {
                $('#errdiv').removeClass('dis');
                $('#form').submit();
            });
            $('#cancel').click(function () {
                $('#dd').dialog('close');
            });
            $('#add').click(function () {
                $('#errdiv').attr('class', 'dis');
                $('#form')[0].reset();
                $('#key').val(0);
                $('#RepoID').removeAttr("disabled");
                $('#dd').dialog('open');
            });
            $('#del').click(function () {
                getAjax("../PHA_Repository/Del", { id: $('#del_id').val() }, function (data) {
                    if ($('#del_id').val() == null || $('#del_id').val() == "")
                        return false;
                    if (data) {
                        $.messager.alert('', '!');
                        $('#dd').dialog('close');
                        $("#grid").datagrid("reload");
                        return true;
                    }
                    else {
                        $.messager.alert('', '!');
                        return false;
                    }
                });
            });
        });

        //DataGird
        function InitGrid() {
            $('#grid').datagrid({
                url: '../PHA_Repository/LoadList',
                fit: true,
                nowrap: true,//
                singleSelect: true,
                autoRowHeight: false,
                striped: false,     //
                collapsible: true,      //
                pagination: true,
                pageSize: 20,
                fitColumns: true,       //
                rownumbers: true,
                columns: [[
                     { title: '', field: 'RepoID' },
                     { title: '', field: 'RepoName' },
                     { title: '', field: 'PhaNum' },
                     {
                         title: '', field: 'IsValid',
                         formatter: function (value, row, index) {
                             if (value) {
                                 return "";
                             } else {
                                 return "";
                             }
                         }
                     },
                ]],
                toolbar: '#tb',
                onDblClickRow: function (rowIndex, rowData) {
                    $('#RepoID').attr('disabled', 'disabled');
                    //$('#errdiv').attr('class', 'dis');
                    getAjax("../PHA_Repository/LoadForm",
                        { id: rowData['RepoID'] }, function (data) {
                            var data = eval("(" + data + ")");
                            SetWebControls(data);
                        });
                    $('#key').val(1);
                    $('#dd').dialog('open');
                },
                onClickRow: function (index, row) {
                    $('#del_id').val(row['RepoID']);
                }
            })
            var p = $('#grid').datagrid('getPager');
            $(p).pagination({
                beforePageText: '',
                afterPageText: '    {pages} ',
                displayMsg: ' {from} - {to}     {total} ',
            });
        };

        function InitDialog() {
            $('#dd').dialog({
                title: '',
                width: 400,
                height: 230,
                top: ($(window).height() - 200) * 0.5,      //
                left: ($(window).width() - 400) * 0.5,
                closed: true,
                cache: false,
                modal: true,
                buttons: '#dlg-buttons'
            });
        }


    </script>
    <script>
        //
        $(function () {
            $('#form').validate({
                rules: {
                    RepoID: {
                        required: true
                    },
                    RepoName: {
                        required: true
                    },
                    PhaNum: {
                        digits: true
                    }
                }, messages: {
                    RepoID: "",
                    RepoName: "",
                    PhaNum: ""
                },
                errorLabelContainer: '#errdiv>ul',
                wrapper: 'li',
                submitHandler: function (form) {

                    var postData = GetWebControls("#form");
                    getAjax("/PHA_Repository/AcceptClick",
                        postData, function (data) {
                            if (data == 1) {
                                $.messager.alert('', '!');
                                $('#dd').dialog('close');
                                $("#grid").datagrid("reload");
                                return true;
                            }
                            else if (data == -1) {
                                $.messager.alert('', '!');
                                return false;
                            }
                            else {
                                $.messager.alert('', '!');
                                return false;
                            }
                        });
                },
                invalidHandler: function (form, validator) {  //
                    return false;
                }
            });
        });
    </script>
    <style>
        .dis {
            display: none;
        }
    </style>

</head>
<body style="margin:2px;padding:0">
    <div>
        <input id="del_id" type="hidden" name="del_id" value=" " />
        <div style="position:fixed;width:100%;height:100%">
            <table id="grid"></table>
        </div>
        <div id="tb" style="padding:3px">
            <a id="add" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'"></a>
            <a id="del" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'"></a>
            <a id="btnReload" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-reload'"></a>
        </div>
    </div>
    <div id="dd" class="easyui-dialog">
        <form id="form" name="form" method="post">
            <input id="key" type="hidden" value="" />
            <table style="margin:8px">
                <tr>
                    <td>:</td>
                    <td><input type="text" id="RepoID" name="RepoID" value="" disabled="disabled" /></td>
                </tr>
                <tr>
                    <td>:</td>
                    <td><input type="text" id="RepoName" name="RepoName" value="" /></td>
                </tr>
                <tr>
                    <td>:</td>
                    <td><input type="text" id="PhaNum" name="PhaNum" value="" /></td>
                </tr>
                <tr>
                    <td>:</td>
                    <td><input type="checkbox" id="IsValid" name="IsValid" value="" /></td>
                </tr>
            </table>
            <div class="errdiv" id="errdiv">
                <ul></ul>
            </div>
            <div id="dlg-buttons">
                <a id="ok" href="#" class="easyui-linkbutton" iconcls="icon-ok"></a>
                <a id="cancel" href="#" class="easyui-linkbutton" iconcls="icon-cancel"></a>
            </div>

        </form>
    </div>
</body>
</html>
