<?xml version="1.0" encoding="utf-8"?>

<!-- For details about using web.config transformations, visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the following example"SetAttributes"the transformation changes 
    "connectionString""Match" 
    when it finds the value"MyDB"attribute"name"using"ReleaseSQLServer"
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      
      In the following example"Replace"the transformation replaces 
      web.config  <customErrors> section
      Notebecause 
       <system.web> there is only one customErrors sectionthere is no need to use"xdt:Locator"
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>